*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fondo{
    background-image: url('img/imagendefondo.png');
    background-size: cover;
    height: 550px;
    background-position: center;
    opacity: 90%;

}
#tittle1{
    display: flex;
    align-items: center;
    height: 80px;
    background: lightcoral;

}


#contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 30px;
    grid-template: max-content;

}

#pag1{
    
    width: 400px;
    height: 400px;
    display: flex;
    align-content: center;
    line-height: 1.1;
    color: ;
    font-weight: bold;
    font-size: 20px;
}

#pag2{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;  
}

#box1{
    height: 150px;
    width: 350px;
}

#decifrar{

}

#two{
    display: flex;
    align-content: stretch;
    align-items: baseline;
}

#dezplazamiento{
    margin: 4%;
}

#box2{
    height: 150px;
    width: 350px;
}

#cifrar{

}

#piedepagina{
    display: flex;
    padding: 10px;
    gap: 90px;
    background-color: #9AECDB;
    opacity: 7
}

#redes{  
    display:inline;
}

#lista{
    display: flex;
    color: white;
}

#logo{
    width: auto;
    height: auto;
    display: flex;
    align-content: space-around;
}
#help{
    line-height: 1.1;
    display: flex;
    flex-direction: column;   
}

#copyright{
    display: flex;
    align-items: flex-end;
    padding: 25px;
}
#adastra{
    padding: 4px white;
    margin: 4px white;
    border-radius: 10px;
    box-shadow: 8px 10px 10px 2px #9AECDB;
}
